*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body{
  background-color: lightblue;
}

ul{
    float: right;
    list-style-type: none;
    margin-top: 25px;
}

ul li{
    display: inline-block;
    margin-right: 40px;
}

ul li a{
    text-decoration: none;
    color: #fff
}

ul li a:hover{
    color: #000000;
    padding: 5px 0.2px;
    transition: 0.5 ease;
}

ul li a.active{
    border-bottom: 2px solid;
    color: #fff
}

ul li a.gallery{
    border: 1px solid #fff;
    padding: 5px 20px;
    border-radius: 3px;
    color: #fff
}

ul li a.gallery:hover{
    background-color: #fff;
    color: #000000
}

.port{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.port h1{
    font-size: 55px;
    font-weight: 300;
}

.port p{
    font-size: 18px;
    font-weight: 300; 
}

.frame{
    position: absolute;
    top: 150%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding-bottom: 27%;
}

.about{
    position:absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.about h1{
    font-size: 50px;
    font-weight: 300;
}

.about h2{
    font-size: 20px;
    font-weight: 60;
}

.about p{
     font-size: 20px;
    font-weight: 300;
}
.home{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.home h1{
    font-size: 55px;
    font-weight: 300;
}

.home p{
    font-size: 18px;
    font-weight: 300;
}

.gall{
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.gall h1{
    font-size: 55px;
    font-weight: 300;
}

.gall p{
    font-size: 18px;
    font-weight: 300;
}

div.gallery {
  margin: 10px;
  border: 4px solid #ccc;
  float: left;
  width: 200px;
  height: 300px;
  position: absolute;
  top: 35%;
  left: 10%;
}

div.gallery:hover {
  border: 5px solid #000000;
}

div.gallery img {
  width: 100%;
  height: 100%;
}

div.desc {
  padding: 15px;
  text-align: center;
    
}

div.gallery1 {
  margin: 10px;
  border: 4px solid #ccc;
  float: left;
  width: 200px;
  height: 300px;
  position: absolute;
  top: 35%;
  left: 30%;
}

div.gallery1:hover {
  border: 5px solid #000000;
}

div.gallery1 img {
  width: 100%;
  height: 100%;
}

div.gallery2 {
  margin: 10px;
  border: 4px solid #ccc;
  float: left;
  width: 200px;
  height: 300px;
  position: absolute;
  top: 35%;
  left: 50%;
}

div.gallery2:hover {
  border: 5px solid #000000;
}

div.gallery2 img {
  width: 100%;
  height: 100%;
}

div.gallery3 {
  margin: 10px;
  border: 4px solid #ccc;
  float: left;
  width: 200px;
  height: 300px;
  position: absolute;
  top: 35%;
  left: 70%;
}

div.gallery3:hover {
  border: 5px solid #000000;
}

div.gallery3 img {
  width: 100%;
  height: 100%;
}
div.gallery4 {
  margin: 10px;
  border: 4px solid #ccc;
  float: left;
  width: 200px;
  height: 300px;
  position: absolute;
  top: 90%;
  left: 6%;
}

div.gallery4:hover {
  border: 5px solid #000000;
}

div.gallery4 img {
  width: 100%;
  height: 100%;
}

div.desc {
  padding: 15px;
  text-align: center;
    
}

div.gallery5 {
  margin: 10px;
  border: 4px solid #ccc;
  float: left;
  width: 200px;
  height: 300px;
  position: absolute;
  top: 90%;
  left: 27%;
}

div.gallery5:hover {
  border: 5px solid #000000;
}

div.gallery5 img {
  width: 100%;
  height: 100%;
}

div.gallery6 {
  margin: 10px;
  border: 4px solid #ccc;
  float: left;
  width: 250px;
  height: 200px;
  position: absolute;
  top: 90%;
  left: 48%;
}

div.gallery6:hover {
  border: 5px solid #000000;
}

div.gallery6 img {
  width: 100%;
  height: 100%;
}

div.gallery7 {
  margin: 10px;
  border: 4px solid #ccc;
  float: left;
  width: 250px;
  height: 200px;
  position: absolute;
  top: 90%;
  left: 72%;
}

div.gallery7:hover {
  border: 5px solid #000000;
}

div.gallery7 img {
  width: 100%;
  height: 100%;
}


div.galleryA {
  margin: 10px;
  border: 4px solid #ccc;
  float: left;
  width: 300px;
  height: 200px;
  position: absolute;
  top: 75%;
  left: 9%;
}

div.galleryA:hover {
  border: 5px solid #000000;
}

div.galleryA img {
  width: 100%;
  height: 100%;
}

div.desc {
  padding: 15px;
  text-align: center;
    
}

div.galleryB {
  margin: 10px;
  border: 4px solid #ccc;
  float: left;
  width: 300px;
  height: 200px;
  position: absolute;
  top: 75%;
  left: 38%;
}

div.galleryB:hover {
  border: 5px solid #000000;
}

div.galleryB img {
  width: 100%;
  height: 100%;
}

div.galleryC {
  margin: 10px;
  border: 4px solid #ccc;
  float: left;
  width: 300px;
  height: 200px;
  position: absolute;
  top: 75%;
  left: 65%;
}

div.galleryC:hover {
  border: 5px solid #000000;
}

div.galleryC img {
  width: 100%;
  height: 100%;
}
